.build
/build_system.xcodeproj/project.xcworkspace/xcuserdata/jadeburton.xcuserdatad/UserInterfaceState.xcuserstate
/build_system.xcodeproj/xcuserdata/jadeburton.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/.swiftpm/xcode/package.xcworkspace/xcuserdata/jadeburton.xcuserdatad/UserInterfaceState.xcuserstate
/BuildSystemCore/.swiftpm/xcode/package.xcworkspace/xcuserdata/jadeburton.xcuserdatad/UserInterfaceState.xcuserstate
/DatabaseModels/.swiftpm/xcode/package.xcworkspace/xcuserdata/jadeburton.xcuserdatad/UserInterfaceState.xcuserstate
